.button-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
    gap: 5px 5px; /* row-gap column gap */
    row-gap: 5px;
    column-gap: 5px;
    margin: 10px;

}

.beatbutton > button {
    flex: 1 1 150px;
    border-style:solid;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    width: 120px;
    height: 100px;
}

input[type=number] {
    width: 40%;
}



