#blackbox {
    
    display:flex;
    flex: content;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-inline: 20%;
    border-style: solid;
    border-radius: 5px;
}

#logged_in {
    border-style: groove;
    margin-inline: 35%;
    /* width: 125px; */
    /* top:25%; */
  
  }