<h1>Editing sound pack</h1>

<%= render "form", sound_pack: @sound_pack %>

<br>

<div>
  <%= link_to "Show this sound pack", @sound_pack %> |
  <%= link_to "Back to sound packs", sound_packs_path %>
</div>
